<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleExecutable</key><string>IdlesseDesktopMenu</string>
<key>CFBundleIdentifier</key><string>com.teamleaderleo.idlesse.app.desktop-menu</string>
<key>CFBundleName</key><string>Idlesse Desktop Menu</string>
<key>CFBundlePackageType</key><string>XPC!</string>
<key>CFBundleVersion</key><string>1</string>
<key>CFBundleShortVersionString</key><string>0.1.0</string>
<key>LSMinimumSystemVersion</key><string>14.0</string>
<key>NSPrincipalClass</key><string>NSApplication</string>
<key>LSUIElement</key><true/>
<key>CFBundleSupportedPlatforms</key><array><string>MacOSX</string></array>
<key>NSExtension</key><dict>
<key>NSExtensionPointIdentifier</key><string>com.apple.FinderSync</string>
<key>NSExtensionPrincipalClass</key><string>IdlesseDesktopMenu.FinderSync</string>
</dict>
</dict></plist>
